@font-face {
  font-family: "KB ChopinScript";
  src: url("../fonts/KB\ ChopinScript.woff") format("woff");
}

@font-face {
  font-family: "Extenda";
  src: url("../fonts/Extenda40Hecto.woff") format("woff");
}
