@font-face {
  font-family: "KB ChopinScript";
  src: url("../fonts/KB\ ChopinScript.woff") format("woff"),
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Extenda";
  src: url("../fonts/Extenda40Hecto.woff") format("woff"),
  font-weight: 400;
  font-style: normal;
}
